name: Metrics
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

          # Base configuration
          user: Edwardlmfao
          template: classic
          config_timezone: Asia/Jakarta

          # Enable the music plugin (Spotify)
          plugin_music: yes
          plugin_music_provider: spotify
          plugin_music_mode: recent
          plugin_music_token: ${{ AQC81IlTqi65EApzeqCZ5vh-HuPi1BH9-lDXVx3RXBShPBw8riAc-202cGzxKAmFyDStyhOuiz3vIGkAuztSGVnQee9X8Dw5eJrvbW3R-XKFPMAUXMe3mbA7aBfAgbJvaME }}
          plugin_music_client_id: ${{ 2c393ad595e0450b9ded192df70f42e5 }}
          plugin_music_client_secret: ${{ 647e9da5eb9e466e92308f40f4b1835a }}
